* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

header {
  font-family: Helvetica, sans-serif;
}

nav {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  list-style: none;
  margin: auto;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: rgba(252, 252, 253, 0.9);
}

#navbar > ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li a {
  text-decoration: none;
  color: #333336;
}

#navbar li a:hover {
  text-decoration: none;
  color: black;
}

.nav-links {
  width: 100%;
}

.submenu-store {
  padding: 0;
  width: 1550px;
  min-width: 834px;
  position: absolute;
  top: 43px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 600;
}

.submenu-store li {
  display: flex;
}

.submenu-store .store-content {
  display: flex;
  background-color: rgb(252, 252, 253);
  padding: 25px 230px 150px;
}

.submenu-store .row {
  width: max-content;
  line-height: 25px;
}

.nav-links li:hover .submenu-store {
  top: 43px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}

/* Styles for the rows in the mega dropdown menu */
.row {
  margin-right: 25px;
}

.row1 {
  margin-right: 80px;
}

/* Styles for the list items in the mega dropdown menu */
.row-lines {
  list-style: none;
  padding: 0;
  color: #333;
}

.line-top {
  color: #6e6e73;
  font-weight: 400;
  margin-bottom: 10px;
}

.row-lines-first li:nth-child(n + 2):nth-child(-n + 7) {
  font-size: 25px;
  font-weight: 600;
  list-style: none;
  padding: 0;
  color: #333;
  line-height: 35px;
}

.blur {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  /* &:hover ~ .submenu-store {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  } */
}

.main {
  position: absolute;
  top: 40px;
}

.add {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
  line-height: 40px;
}

.add a {
  text-decoration: none;
  color: #06c;
}

section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  width: 100%;
  background-color: #fbfbfd;
  /* position: absolute;
  top: 80px; */
}

.banner1 {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.bimg1 {
  width: 100%;
  overflow: hidden;
}

.bimg1 img {
  width: 100%;
  height: 100%;
  margin-top: -200px;
  margin-bottom: -100px;
}

.desp1 {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #1d1d1f;
  margin: auto;
  top: 50px;
  left: 30%;
}

.headline {
  font-size: 56px;
  /* letter-spacing: -0.005em; */
  line-height: 1.07;
  font-weight: 600;
}

.subhead {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.004em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  display: inline-block;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  margin-top: 10px;
}

.links a {
  text-decoration: none;
  color: #06c;
  margin: 20px;
}

.banner2 {
  width: 100%;
  height: 80vh;
  position: relative;
  justify-content: center;
  margin-bottom: 10px;
}

.bvid2 {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  margin-bottom: 320px;
  overflow: hidden;
}

.bvid2 video {
  width: 200vw;
  /* width: 100%; */
  height: 100%;
  object-fit: fill;
  margin: auto;
}

.desp2 {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #1d1d1f;
  margin: auto;
  top: 50px;
  left: 30%;
}

sup {
  font-size: 0.6em;
}

.banner3 {
  width: 100%;
  position: relative;
}

.bimg3 {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.bimg3 img {
  width: 200vw;
  /* width: 100%; */
  height: 100%;
  object-fit: fill;
  margin: auto;
}

.desp3 {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #fbfbfd;
  margin: auto;
  top: 50px;
  left: 30%;
}

.banner4,
.banner5,
.banner6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.banner4a,
.banner5a,
.banner6a {
  width: 50%;
  /* height: 600px; */
  padding: 5px 5px 10px 10px;
}

.bimg4a img,
.bimg5a img,
.bimg6a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner4b,
.banner5b,
.banner6b {
  width: 50%;
  /* height: 600px; */
  padding: 5px 10px 10px 5px;
}

.bimg4b img,
.bimg5b img,
.bimg6b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desp4a {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #1d1d1f;
  margin: auto;
  top: 50px;
  left: 6.1%;
}
.desp4b {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #1d1d1f;
  margin: auto;
  top: 430px;
  left: 55%;
}

.supsubhead {
  color: #adadb0;
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.004em;
}

.desp5a {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #fbfbfd;
  margin: auto;
  top: 50px;
  left: 6.1%;
}

.desp5b {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #fbfbfd;
  margin: auto;
  top: 50px;
  left: 55%;
}

.banner5a h6 {
  color: rgba(255, 0, 0, 0.666);
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.19em;
}

.desp6a {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #1d1d1f;
  margin: auto;
  top: 50px;
  left: 6.1%;
}
.desp6b {
  text-align: center;
  position: absolute;
  width: 40%;
  color: #1d1d1f;
  margin: auto;
  top: 50px;
  left: 55%;
}

footer {
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: 4000px;
  width: 100%;
  height: 830px;
  background-color: #fbfbfd;
}

.notes {
  width: 70%;
  margin: auto;
  padding: 25px 0px;
}

.notes ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

hr {
  width: 70%;
  margin: auto;
}

.notes li {
  font-size: 12px;
  line-height: 1.83337;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #6e6e73;
}

.notes li a {
  color: #06c;
}

.glossary {
  width: 70%;
  margin: auto;
  min-width: 1000px;
  display: flex;
  justify-content: space-between;
  height: 420px;
  padding: 15px 0px;
}

.glossary > div {
  display: inline-block;
  padding: 1px;
  width: 18%;
  font-size: 12px;
  line-height: 1.23337;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #424245;
}

.glossary ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.glossary li {
  margin: 0px 0px 9.6px;
  text-align: left;
}

.glossary h3 {
  margin: 0px 0px 9.6px;
  text-align: left;
  font-size: 12px;
  line-height: 1.23337;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #1d1d1f;
}

.footer-shop {
  width: 70%;
  margin: auto;
  padding: 15px 0px;
  font-size: 12px;
  line-height: 1.23337;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #424245;
}

.footer-shop a {
  color: #06c;
}

.legal {
  width: 70%;
  margin: auto;
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.23337;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #424245;
}

.legal-links {
  align-self: center;
  width: 50%;
}

.legal-links ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}

.legal-links ul li a {
  list-style: none;
  text-decoration: none;
  color: #424245;
  padding: 10px;
  border-right: 1px  solid #adadb0;
  border-width: 0.5px;
}
